html, body {
  margin: 0px;
  padding: 0px;
  color: var(--ink-base);
  padding-bottom: 200px;
}

label {
  color: var(--ink-lighter);
  font-weight: bold;
  font-size: .9em;
}

.main-form {
  padding: 10px;
  border-bottom: 1px solid var(--sky-base);
  background-color: var(--sky-light);
}

.card {
  background-color: var(--white-base);
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);
  position: relative;
}

.card .type-tag {
  position: absolute;
  top: 5px;
  right: -3px;
  padding: 1px 10px 1px 5px;
  display: inline-block;
  color: var(--purple-base, #777);
  background-color: var(--purple-lighter, #eee);
  font-size: .8em;
  text-transform: uppercase;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
}

.card h1 { font-size: 1.2em; }
.card h2 { font-size: 1.1em; }
.card h3 { font-size: 1.0em; margin-top: 0; }

.divider {
  color: #ddd;
  display: inline-block;
  margin: 0 5px;
}

#loading-bar {
  position: sticky;
  top: 0px;
  width: 0%;
  height: 6px;
  background-color: var(--green-base);
  transition: width .5s ease;
  z-index: 1000;
}

.ship-href {
  display: flex;
}
.form-field.ship-base {
  width: 18em;
}
.form-field.ship-path {
  flex-grow: 1;
  margin-left: 10px;
}

/* Shipwreck */

.shipwreck .current-path {
  margin: 10px;
}

.shipwreck .current-path a {
  display: inline-block;
  padding: 10px 0px;
}

.shipwreck .current-path-params {
  margin: 10px;
  word-break: break-word;
}

.shipwreck .current-path-params ul {
  list-style: none;
  margin: 0;
  padding-left: 1em;
}

.shipwreck .flex-parent {
  display: flex;
  flex-wrap: wrap;
}

.shipwreck .flex-parent > div {
  overflow: hidden;
}

.shipwreck .flex-1 {
  flex: 1;
  max-width: 800px
}

.shipwreck .flex-2 {
  flex: 2;
}

/* tabs */

.tabs {
  margin: 0px;
  /* border-bottom: solid 1px var(--sky-dark); */
}

.tabs a {
  display: inline-block;
  cursor: pointer;
  padding: 6px 10px 3px;
  border-bottom: solid 3px transparent;
  margin: 0px 10px;
}

.tabs a:hover {
  background-color: var(--purple-lighter);
  border-bottom-color: var(--purple-light);
}

.tabs a.active {
  border-bottom-color: var(--purple-base);
}

.shipwreck .content {
  background-color: var(--sky-light);
  padding: 10px;
}

/* notifications */

#flash {
  padding: 5px 10px;
}

.banner {
  padding: 9px;
  margin: 10px 0px;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.1);

  color: var(--black-base);
  background-color: var(--sky-light);
  border: 0px solid var(--ink-base);
  border-top-width: 3px;
}

.success {
  color: var(--green-text);
  background-color: var(--green-lighter);
  border-color: var(--green-base);
}

.info {
  color: var(--teal-text);
  background-color: var(--teal-lighter);
  border-color: var(--teal-base);
}

.warning {
  color: var(--yellow-text);
  background-color: var(--yellow-lighter);
  border-color: var(--yellow-base);
}

.critical {
  color: var(--red-text);
  background-color: var(--red-lighter);
  border-color: var(--red-base);
}

/* forms */

input[type=text],
input[type=datetime],
input[type=datetime-local],
input[type=password],
input[type=number],
select {
  width: 100%;
  box-sizing: border-box;
}

.form-field.hidden {
  background-color: var(--sky-light);
  border: 1px dashed var(--sky-base);
  position: relative;
  padding: 3px
}

.form-field .type-tag {
  font-size: .6em;
}

.hidden-field {
  display: inline-block;
  padding: 3px;
  line-height: 1.5em;
  min-height: 1em;
  font-weight: normal;
  width: 100%;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

.form-actions {
  background-color: var(--purple-lighter);
  padding: 6px;
}

/* entities */

.entity-properties tr:hover {
  background-color: var(--yellow-lighter);
}

.entity-properties td {
  padding: 5px;
}

.entity-properties .key {
  vertical-align: top;
  font-weight: bold;
  color: var(--ink-light);
}

.entity-properties .value {
  word-break: break-word;
}

.entity-properties .value pre {
  margin: 0;
}

/* sub entities */

.entity-entities .head {
  cursor: pointer;
}

.entity-entities .head .title {
  font-weight: bold;
}

.entity-entities .head:hover {
  background-color: var(--purple-lighter);
}

.entity-entities .body {
  display: block;
}

.entity-entities .tabs {
  font-size: .9em;
  background-color: var(--purple-lighter);
  margin-top: 10px;
}

.entity-entities .tab-content {
  background-color: var(--sky-light);
  padding: .5em;
  margin: .5em 0 0;
  box-shadow: 0px 1px var(--sky-base) inset;
  border: 1px solid var(--purple-light);
}

.entity-entities .entity-actions {
  display: block;
}

.entity-entities .entity-properties {
  display: block;
}

.entity-entities .entity-links ul {
  margin: 0;
}

.entity-entities .card .content {
  background-color: inherit;
}

/* entity actions */

.entity-actions .title {
  color: var(--ink-light);
}

.entity-actions .name {
  color: var(--ink-lighter);
  font-size: .9em;
  display: block;
}

.entity-actions .form-fields {
  margin-top: 1em;
}

.entity-actions .form-field {
  margin: 5px 0;
}

.entity-action-href {
  font-size: .8em;
  color: var(--ink-lighter);
  word-wrap: break-word;
}

/* raw entity data */

.entity-raw pre {
  width: 100%;
  overflow-x: auto;
}

.raw-response .content {
  white-space: pre-wrap;
}
