:root{
  --black-base: rgb(0, 0, 0);
  --white-base: rgb(255, 255, 255);

  /* blue */
  --blue-text: rgb(62, 78, 87);
  --blue-darker: rgb(0, 20, 41);
  --blue-dark: rgb(8, 78, 138);
  --blue-base: rgb(0, 122, 206);
  --blue-light: rgb(180, 225, 250);
  --blue-lighter: rgb(235, 245, 250);

  /* green */
  --green-text: rgb(65, 79, 62);
  --green-darker: rgb(23, 54, 48);
  --green-dark: rgb(16, 128, 67);
  --green-base: rgb(80, 184, 60);
  --green-light: rgb(187, 229, 179);
  --green-lighter: rgb(227, 241, 223);

  /* indigo */
  --indigo-text: rgb(62, 65, 85);
  --indigo-darker: rgb(0, 6, 57);
  --indigo-dark: rgb(32, 46, 120);
  --indigo-base: rgb(92, 106, 196);
  --indigo-light: rgb(179, 188, 245);
  --indigo-lighter: rgb(244, 245, 250);

  /* ink */
  --ink-base: rgb(33, 43, 54);
  --ink-light: rgb(69, 79, 91);
  --ink-lighter: rgb(99, 115, 129);
  --ink-lightest: rgb(145, 158, 171);

  /* orange */
  --orange-text: rgb(89, 68, 48);
  --orange-darker: rgb(74, 21, 4);
  --orange-dark: rgb(192, 87, 23);
  --orange-base: rgb(244, 147, 66);
  --orange-light: rgb(255, 197, 139);
  --orange-lighter: rgb(252, 235, 219);

  /* purple */
  --purple-text: rgb(80, 73, 90);
  --purple-darker: rgb(35, 0, 81);
  --purple-dark: rgb(80, 36, 143);
  --purple-base: rgb(156, 106, 222);
  --purple-light: rgb(227, 208, 255);
  --purple-lighter: rgb(246, 240, 253);

  /* red */
  --red-text: rgb(88, 60, 53);
  --red-darker: rgb(51, 1, 1);
  --red-dark: rgb(191, 7, 17);
  --red-base: rgb(222, 54, 24);
  --red-light: rgb(254, 173, 154);
  --red-lighter: rgb(251, 234, 229);

  /* sky */
  --sky-dark: rgb(196, 205, 213);
  --sky-base: rgb(223, 227, 232);
  --sky-light: rgb(244, 246, 248);
  --sky-lighter: rgb(249, 250, 251);

  /* teal */
  --teal-text: rgb(64, 83, 82);
  --teal-darker: rgb(0, 49, 53);
  --teal-dark: rgb(0, 132, 142);
  --teal-base: rgb(71, 193, 191);
  --teal-light: rgb(183, 236, 236);
  --teal-lighter: rgb(224, 245, 245);

  /* yellow */
  --yellow-text: rgb(89, 81, 48);
  --yellow-darker: rgb(87, 59, 0);
  --yellow-dark: rgb(156, 111, 25);
  --yellow-base: rgb(238, 194, 0);
  --yellow-light: rgb(255, 234, 138);
  --yellow-lighter: rgb(252, 241, 205);
}

html, body {
  margin: 0px;
  padding: 0px;
  color: var(--ink-base);
  padding-bottom: 200px;
}

label {
  color: var(--ink-lighter);
  font-weight: bold;
  font-size: .9em;
}

.main-form {
  padding: 10px;
  border-bottom: 1px solid var(--sky-base);
  background-color: var(--sky-light);
}

.card {
  background-color: var(--white-base);
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);
  position: relative;
}

.card .type-tag {
  position: absolute;
  top: 5px;
  right: -3px;
  padding: 1px 10px 1px 5px;
  display: inline-block;
  color: var(--purple-base, #777);
  background-color: var(--purple-lighter, #eee);
  font-size: .8em;
  text-transform: uppercase;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
}

.card h1 { font-size: 1.2em; }
.card h2 { font-size: 1.1em; }
.card h3 { font-size: 1.0em; margin-top: 0; }

.divider {
  color: #ddd;
  display: inline-block;
  margin: 0 5px;
}

#loading-bar {
  position: sticky;
  top: 0px;
  width: 0%;
  height: 6px;
  background-color: var(--green-base);
  transition: width .5s ease;
  z-index: 1000;
}

.ship-href {
  display: flex;
}
.form-field.ship-base {
  width: 18em;
}
.form-field.ship-path {
  flex-grow: 1;
  margin-left: 10px;
}

/* Shipwreck */

.shipwreck .current-path {
  margin: 10px;
}

.shipwreck .current-path a {
  display: inline-block;
  padding: 10px 0px;
}

.shipwreck .current-path-params {
  margin: 10px;
  word-break: break-word;
}

.shipwreck .current-path-params ul {
  list-style: none;
  margin: 0;
  padding-left: 1em;
}

.shipwreck .flex-parent {
  display: flex;
  flex-wrap: wrap;
}

.shipwreck .flex-parent > div {
  overflow: hidden;
}

.shipwreck .flex-1 {
  flex: 1;
  max-width: 800px
}

.shipwreck .flex-2 {
  flex: 2;
}

/* tabs */

.tabs {
  margin: 0px;
  /* border-bottom: solid 1px var(--sky-dark); */
}

.tabs a {
  display: inline-block;
  cursor: pointer;
  padding: 6px 10px 3px;
  border-bottom: solid 3px transparent;
  margin: 0px 10px;
}

.tabs a:hover {
  background-color: var(--purple-lighter);
  border-bottom-color: var(--purple-light);
}

.tabs a.active {
  border-bottom-color: var(--purple-base);
}

.shipwreck .content {
  background-color: var(--sky-light);
  padding: 10px;
}

/* notifications */

#flash {
  padding: 5px 10px;
}

.banner {
  padding: 9px;
  margin: 10px 0px;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.1);

  color: var(--black-base);
  background-color: var(--sky-light);
  border: 0px solid var(--ink-base);
  border-top-width: 3px;
}

.success {
  color: var(--green-text);
  background-color: var(--green-lighter);
  border-color: var(--green-base);
}

.info {
  color: var(--teal-text);
  background-color: var(--teal-lighter);
  border-color: var(--teal-base);
}

.warning {
  color: var(--yellow-text);
  background-color: var(--yellow-lighter);
  border-color: var(--yellow-base);
}

.critical {
  color: var(--red-text);
  background-color: var(--red-lighter);
  border-color: var(--red-base);
}

/* forms */

input[type=text],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=password],
input[type=number],
select {
  width: 100%;
  box-sizing: border-box;
}

.form-field.hidden {
  background-color: var(--sky-light);
  border: 1px dashed var(--sky-base);
  position: relative;
  padding: 3px
}

.form-field .type-tag {
  font-size: .6em;
}

.hidden-field {
  display: inline-block;
  padding: 3px;
  line-height: 1.5em;
  min-height: 1em;
  font-weight: normal;
  width: 100%;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

.form-actions {
  background-color: var(--purple-lighter);
  padding: 6px;
}

/* entities */

.entity-properties tr:hover {
  background-color: var(--yellow-lighter);
}

.entity-properties td {
  padding: 5px;
}

.entity-properties .key {
  vertical-align: top;
  font-weight: bold;
  color: var(--ink-light);
}

.entity-properties .value {
  word-break: break-word;
}

.entity-properties .value pre {
  margin: 0;
}

/* sub entities */

.entity-entities .head {
  cursor: pointer;
}

.entity-entities .head .title {
  font-weight: bold;
}

.entity-entities .head:hover {
  background-color: var(--purple-lighter);
}

.entity-entities .body {
  display: block;
}

.entity-entities .tabs {
  font-size: .9em;
  background-color: var(--purple-lighter);
  margin-top: 10px;
}

.entity-entities .tab-content {
  background-color: var(--sky-light);
  padding: .5em;
  margin: .5em 0 0;
  box-shadow: 0px 1px var(--sky-base) inset;
  border: 1px solid var(--purple-light);
}

.entity-entities .entity-actions {
  display: block;
}

.entity-entities .entity-properties {
  display: block;
}

.entity-entities .entity-links ul {
  margin: 0;
}

.entity-entities .card .content {
  background-color: inherit;
}

/* entity actions */

.entity-actions .title {
  color: var(--ink-light);
}

.entity-actions .name {
  color: var(--ink-lighter);
  font-size: .9em;
  display: block;
}

.entity-actions .form-fields {
  margin-top: 1em;
}

.entity-actions .form-field {
  margin: .5rem 0;
}

.entity-actions .radio-option label {
  cursor: pointer;
}

.entity-action-href {
  font-size: .8em;
  color: var(--ink-lighter);
  word-wrap: break-word;
}

/* raw entity data */

.entity-raw pre {
  width: 100%;
  overflow-x: auto;
}

.raw-response .content {
  white-space: pre-wrap;
}

/* entity links */
.entity-links a[rel~="external"]::after {
   content: ' \1f517';
}
